<table class="table table-striped m-b-none ">
  <thead>
    <tr>
      <th style="width: 19%;">Время</th>
      <th style="width: 5%;"><img src="{{ url_for('static', filename="images/clock16.png") }}"/></th>
      <th style="width: 30%;">Тема</th>
      <th style="width: 50%">Описание</th>
    </tr>
  </thead>
  <tbody>

  <tr>
      <td>
        10:00 - 11:30
      </td>
      <td>
          45
      </td>
      <td>Программная инженерия</td>
      <td>
       Методологии и процессы разработки программных систем. <br/>
        Роли и артефакты.<br/>
        Матрица ответственностей.<br/>
        Представление слушателей <br/>
    </td>
  </tr>


  <tr>
    <td>
        11:30 - 12:00
    </td>

    <td>
        45
    </td>

    <td>Введение в UML</td>

    <td>
        Назначение UML<br/>
        Основные сущности и отношения<br/>
        Диаграммы<br/>
        Представления<br/>
        Процесс моделирования<br/>

    </td>
  </tr>

  <tr class="break">
    <td >
        11:30 - 12:00
    </td>

    <td></td>

    <td>Перерыв</td>

    <td>

    </td>

  </tr>

  <tr>
    <td>
        12:00 - 13:30
    </td>

      <td>30</td>

    <td>Моделирование использование. Теория и поясняющие примеры</td>
    <td>
        Значение моделирования использования.<br/>
        Диаграмма использования. Нотация элементов.<br/>
        Примеры построения модели использования, показывающие приемы выделение функциональных требований и способы отображения их на диаграмме использования.<br/>
        Обсуждение вариантов реализаций вариантов использования.<br/>
    </td>
  </tr>

    <tr>
      <td>

      </td>

      <td>
          60
      </td>

      <td>Моделирование использование. Теория и поясняющие примеры</td>
      <td>
        Значение моделирования использования.<br/>
        Диаграмма использования. Нотация элементов.<br/>
        Примеры построения модели использования, показывающие приемы выделение функциональных требований и способы отображения их на диаграмме использования.<br/>
        Обсуждение вариантов реализаций вариантов использования.<br/>
      </td>
    </tr>

  <tr class="break">
      <td>
          Обед
      </td>
      <td></td>
      <td></td>
      <td></td>
  </tr>

  <tr>
      <td>14:30 - 16:00</td>
      <td>
          60
      </td>
      <td>
          Моделирование структуры.<br/>
          Моделирование предметных областей.<br/>
          Теория и поясняющие примеры
      </td>
      <td>
            Значение моделирования структуры.<br/>
            Диаграммы классов, компонент, размещения. Нотация элементов.<br/>
            Примеры построения модели предметной области, компонентной модели и модели размещения, показывающие способы использование структурных элементов UML. О предметных областях.<br/>
            Зачем нужно строить модели предметных областей.<br/>

      </td>
  </tr>

  <tr>
      <td></td>
      <td>
          30
      </td>
      <td>
          Моделирование структуры. Практика
      </td>
      <td>
           Совместный разбор задач
      </td>
  </tr>

  <tr class="break">
      <td>16:00 - 16:30</td>
      <td>
          30
      </td>
      <td>
          Перерыв
      </td>
      <td>

      </td>
  </tr>

  <tr>
      <td>16:30 - 18:00</td>
      <td>
          90
      </td>
      <td>
          Моделирование структуры. Практика
      </td>
      <td>
        Совместный разбор задач
      </td>
  </tr>


  </tbody>
</table>