<table class="table table-striped m-b-none ">
  <thead>
    <tr>
      <th style="width: 19%;">Время</th>
      <th style="width: 5%;"></th>
      <th style="width: 30%;">Тема</th>
      <th style="width: 50%">Описание</th>
    </tr>
  </thead>
  <tbody>

  <tr>
      <td>
        10:00 - 11:30
      </td>
      <td>
          30
      </td>
      <td>Моделирование поведения (смена состояний). Теория и поясняющие примеры</td>
      <td>
        Значение моделирования поведение.<br/>
        Диаграмма автомата. Нотация элементов.<br/>
        Примеры моделирования поведения системы через описание смены ее состояний и способы представления этого поведения на диаграмме автомата. <br/>
    </td>
  </tr>

  <tr>
    <td>

    </td>

    <td>
        60
    </td>

    <td>Моделирование поведения (смена состояний). Практика</td>

    <td>
       Совместный разбор задач
    </td>
  </tr>

  <tr class="break">
    <td>
        11:30 - 12:00
    </td>

    <td></td>

    <td>Перерыв</td>

    <td>

    </td>
  </tr>

  <tr>
    <td>
        12:00 - 13:30
    </td>

      <td>30</td>

    <td>Моделирование поведения (последовательность действий). Теория и поясняющие примеры</td>
    <td>
        Диаграмма деятельности. Нотация элементов.<br/>
        Примеры моделирования поведения системы через описание последовательности действий и способы представления этого поведения на диаграмме деятельности.

    </td>
  </tr>

    <tr>
      <td>

      </td>

      <td>
          60
      </td>

      <td>Моделирование поведения (последовательность действий). Практика </td>
      <td>
        Совместный разбор задач
      </td>
    </tr>

  <tr class="break">
      <td>
          Обед
      </td>
      <td></td>
      <td></td>
      <td></td>
  </tr>

  <tr>
      <td>14:30 - 16:00</td>
      <td>
          30
      </td>
      <td>
         Моделирование поведения (взаимодействие частей). Теория и поясняющие примеры
      </td>
      <td>
            Диаграмма последовательности. Нотация элементов.<br/>
            Примеры моделирования поведения системы через описание взаимодействие ее частей и способы представления этого поведения на диаграмме последовательности.<br/>
            Диаграммы коммуникаций, синхронизации и обзорная диаграмма взаимодействия.<br/>
            Параллелизм и способы его моделирования.<br/>
      </td>
  </tr>

  <tr>
      <td></td>
      <td>
          60
      </td>
      <td>
          Моделирование поведения (взаимодействие частей). Практика
      </td>
      <td>
           Совместный разбор задач
      </td>
  </tr>

  <tr class="break">
      <td>16:00 - 16:30</td>
      <td>

      </td>
      <td>
          Перерыв
      </td>
      <td>

      </td>
  </tr>

  <tr>
      <td>16:30 - 18:00</td>
      <td>
          90
      </td>
      <td>
          Мастер-класс
      </td>
      <td>
        Спецификация программной системы (выбор слушателей)
      </td>
  </tr>


  </tbody>
</table>