<table class="table table-striped m-b-none ">
  <thead>
    <tr>
      <th style="width: 19%;">Время</th>
      <th style="width: 5%;"><img src="{{ url_for('static', filename="images/clock.png") }}"/></th>
      <th style="width: 30%;">Тема</th>
      <th style="width: 50%">Описание</th>
    </tr>
  </thead>
  <tbody>

  <tr>
      <td>
        10:00 - 11:30
      </td>
      <td>
          30
      </td>
      <td>Ролевая игра</td>
      <td>
        Деление на команды. <br/>
        Цели и задачи игры. <br/>
    </td>
  </tr>

  <tr>
    <td>

    </td>

    <td>
        30
    </td>

    <td>Ролевая игра</td>

    <td>
        Первая итерация.<br/>
        Первый этап - требования заказчика.
    </td>
  </tr>

  <tr>
    <td>

    </td>

    <td>30</td>

    <td>Ролевая игра</td>

    <td>
        Второй этап - построение модели предметной области.
    </td>
  </tr>

  <tr class="break">
    <td>
        11:30 - 12:00
    </td>

      <td></td>

    <td>Перерыв</td>
    <td>

    </td>
  </tr>

    <tr>
      <td>
        12:00 - 13:30
      </td>

      <td>
          45
      </td>

      <td>Ролевая игра</td>
      <td>
        Третий этап - построение модели использования
      </td>
    </tr>

      <tr>
      <td></td>

      <td>
          45
      </td>

      <td>Ролевая игра</td>
      <td>
        Четвертый этап - реализация основных вариантов использования
      </td>
    </tr>

  <tr class="break">
      <td>
          Обед
      </td>
      <td></td>
      <td></td>
      <td></td>
  </tr>

  <tr>
      <td>14:30 - 16:00</td>
      <td>
          45
      </td>
      <td>
         Ролевая игра
      </td>
      <td>
           Пятый этап - построение архитектуры системы
      </td>
  </tr>

    <tr>
      <td></td>
      <td>
          45
      </td>
      <td>
         Ролевая игра
      </td>
      <td>
           Подготовка к презентации
      </td>
  </tr>

  <tr class="break">
      <td>16:00 - 16:30</td>
      <td>

      </td>
      <td>
          Перерыв
      </td>
      <td>

      </td>
  </tr>

  <tr>
      <td>16:30 - 18:00</td>
      <td>
          60
      </td>
      <td>
          Ролевая игра
      </td>
      <td>
        Презентации проектов
      </td>
  </tr>

   <tr>
      <td></td>
      <td>
          30
      </td>
      <td>

      </td>
      <td>
        Вопросы/ответы. Выдача сертификатов
      </td>
  </tr>


  </tbody>
</table>