{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename="css/signup.css") }}"/>
{% endblock %}

{% block content %}
    {% macro check_on_error(field) -%}
        {% if field in form.errors %}
        has-error
        {% else %}

        {% endif %}
    {% endmacro %}

    <div style="width: 100%; padding-top: 15px;">
        <div style="width:200px; float: left; padding-left: 10px;" >
            <img src="{{ url_for('static', filename="images/cit_logo.png") }}"/>
        </div>

         <div style="width:740px; float: left; text-align: center;">
            <p></p>
        </div>

         <div style="width:200px; float: left; text-align: right; margin-right: 50px; font-size: 16px; line-height: 24px; font-weight: 800;">
             <span style="color: #39b54a;">Возникли вопросы?</span><br/>
             Симакова Ирина<br/>
             +7 (912) 288 64 12
        </div>
    </div>

    <div style="clear: both;"></div>


<section id="content" class="m-t-lg wrapper-md animated fadeInDown">

    <div class="row m-n">
        <div style="margin-left: 15px;">
            <h2>Теория и практика разработки программных систем</h2>
            <p>

            </p>
        </div>
    </div>

    <div class="row m-n">
      <div class="col-lg-8 m-t-lg">
            <section class="panel panel-tab-radius">
                <header class="panel-heading tab-bg">
                  <ul class="nav nav-tabs nav-justified">
                    <li class="active"><a href="#home" data-toggle="tab">День 1</a></li>
                    <li><a href="#profile" data-toggle="tab">День 2</a></li>
                    <li><a href="#messages" data-toggle="tab">День 3</a></li>
                  </ul>
                </header>
                <div class="panel-body">
                  <div class="tab-content">
                    <div class="tab-pane active" id="home">
                        {% include "plan/day1.html" %}
                    </div>
                    <div class="tab-pane" id="profile">
                        {% include "plan/day2.html" %}
                    </div>
                    <div class="tab-pane" id="messages">
                        {% include "plan/day3.html" %}
                    </div>
                  </div>
                </div>
              </section>
      </div>

        {% if not success %}

      <div class="col-lg-4 m-t-lg">
        <section class="panel registration-panel">
          <h2 style="text-align: center;">Регистрация на мероприятие</h2>

          <form action="/signup" class="panel-body" method="POST">
            <!-- ФИО -->
            <div class="form-group {{ check_on_error('firstname') }}">
                  {{ form.firstname(placeholder="Имя", class="form-control") }}
            </div>

            <div class="form-group {{ check_on_error('lastname') }}">
                {{ form.lastname(placeholder="Фамилия", class="form-control") }}
            </div>

            <div class="form-group {{ check_on_error('company') }}">

                {{ form.company(placeholder="Компания", class="form-control") }}

            </div>

            <div class="form-group {{ check_on_error('position') }}">
                 {{ form.position(placeholder="Должность", class="form-control") }}
            </div>

            <div class="form-group {{ check_on_error('phone') }}">
                    {{ form.phone(placeholder="Контактный телефон", class="form-control") }}
            </div>


            <div class="form-group {{ check_on_error('email') }}">
                    {{ form.email(placeholder="E-mail", class="form-control") }}
            </div>

            <button type="submit" class="btn btn-info">Зарегистрироваться</button>

{#            <div class="form-group">#}
{#                <label class="control-label">Введите текст с картинки</label>#}
{#                {{ form.recaptcha }}#}
{#            </div>#}


          </form>
        </section>
      </div>

        {% else %}
             <div class="col-lg-4 m-t-lg">
                <section class="panel registration-panel" style="height: 300px;">
                    <h2 style="text-align: center;">Спасибо за регистрацию</h2>

                    <p style="text-align: center">В ближайшее время с вами свяжутся.</p>

                    <img
                            style="margin-left: 80px; margin-top: 30px;"
                            src="{{ url_for('static', filename="images/ok150.png") }}"/>
                </section>
            </div>

        {% endif  %}
    </div>
  </section>

{% endblock %}